@use "../typography/typography";
@use "../media-breakpoints/media-breakpoints";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 100px;
  width: 320px;
  height: 961px;

  &__image {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 320px;
    border-radius: 16px;
  }
  &__text-block {
    width: 248px;
    height: 73px;
  }

  &__title {
    width: 248px;
    height: 32px;
    font-family: typography.$font-family-heading-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
  }

  &__location-container {
    display: flex;
    width: 248px;
    height: 24px;
  }

  &__location {
    width: 208px;
    height: 21px;
    font-family: typography.$font-family-paragraph;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }

  &__col-block {
    position: absolute;
  }

  &__logo {
    position: absolute;
    height: 30px;
    top: -20%;
    left: 4%;
  }
}

.text-block {
  position: absolute;
  left: -95px;
  top: 49px;

  &__location-container {
    justify-content: flex-end;
    position: absolute;
    top: 95%;
  }
}

.content .content__image:not(:first-of-type),
.content__col-block:not(:first-of-type) {
  visibility: hidden;
  position: absolute;
}

@media only screen and (min-width: media-breakpoints.$media-breakpoint-screen-width-only) {
  .content .content__image:not(:first-of-type),
  .content__col-block:not(:first-of-type) {
    visibility: visible;
    position: relative;
  }

  .content__col-block {
    position: absolute;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 32px;

    width: 1376px;
    height: 980px;

    &__col-block {
      position: relative;
    }

    &__image {
      display: flex;

      padding: 0;
      width: 497px;
      height: 661px;
      border-radius: 26px;
      margin-left: 32px;
    }
    &__location-container {
      display: flex;
    }
    &__text-block {
      position: relative;
      top: 237px;
      left: -504px;
    }

    &__logo {
      height: 24px;
    }
  }
}
.text-block {
  &__location-container {
    top: 52px;
    left: -8px;
  }
}
