.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 100px;
  gap: 100px;

  width: 320px;
  height: 1410px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  gap: 32px;

  width: 288px;
  height: 98px;

  &__background-logo {
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    width: 140px;
    height: 27.52px;
  }
}
