@use "../typography/typography";
@use "../color-palette/color-palette";

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 100px;
  gap: 100px;

  width: 320px;
  height: 1410px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/img/hero section/bg-hero-section.jpg") left bottom -10rem;

  background-size: 71.969rem 159.25rem;
}

.dropdown-nav {
  &__button {
    background-color: transparent;
    border-color: transparent;
  }
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  gap: 32px;

  width: 288px;
  height: 98px;

  &__background-logo {
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    width: 140px;
    height: 27.52px;
  }
}

.dropdown-nav {
  overflow: hidden;

  &__button {
    width: 3.125rem;
    height: 3.125rem;
  }

  &__content {
    display: none;
    position: absolute;
  }
}
