@import "@fontsource/playfair-display";
@import "@fontsource/rubik";
@import "@fontsource/mulish";

$font-family-heading-primary: "Playfair-display";
$font-family-heading-secondary: "Mulish";

$font-family-paragraph: "Rubik";
