.hero-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/img/hero section/bg-hero-section.jpg") left bottom -10rem;

  background-size: 53.969rem 159.25rem;
}

.dropdown-nav {
  overflow: hidden;

  &__button {
    &i {
      background-image: url("/src/img/hero section/hamburger 1.svg");
    }
  }

  &__content {
    display: none;
    position: absolute;
  }
}
