.hero-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/img/hero section/bg-hero-section.jpg") left bottom -10rem;

  background-size: 71.969rem 159.25rem;
}

.dropdown-nav {
  overflow: hidden;

  &__button {
    width: 3.125rem;
    height: 3.125rem;
    background-color: transparent;
    border-color: transparent;
  }

  &__content {
    display: none;
    position: absolute;
  }
}
